logs
# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#storybook
storybook-static
#fotos readme
# Opera Instantâneo_2022-11-07_232525_psousadev.github.io.png
# Opera Instantâneo_2022-11-07_233533_ignite-lab-ds-delta.vercel.app.png